@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
@using (Html.BeginForm("NewHeading", "Writer", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-7">
            <div class="form-group" style="padding:10px">
                @Html.Label("Başlık Adı")
                @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="padding:10px">
                @Html.Label("Kategori")
                @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
            </div>

            <div class="form-group" style="padding:10px">
                <button type="submit" class="btn btn-success">Başlık Oluştur</button>
            </div>
        </div>
    </div>

}


