@model List<EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{string colorStatus = "";
    string status = " ";
    string text = "";
    string iconStatus = "";
}

@Html.Action("AboutAddPartial", "AdminAbout")

<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Hakkında Durumu</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.AboutStatus == true)
        {
            status = "Pasif Yap";
            colorStatus = "btn btn-success";
            iconStatus = "fas fa-eye";
        }
        if (item.AboutStatus == false)
        {
            status = "Aktif Yap";
            colorStatus = "btn btn-danger";
            iconStatus = "fas fa-eye-slash";
        }
        <tr>
            <th>@item.AboutID</th>
            <th>Başlık</th>
            <th><a href="/AdminAbout/DeleteAbout/@item.AboutID" class="@colorStatus">@status<i class="@iconStatus"></i></a></th>
        </tr>
    }

</table>

