
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.dgr1</h3>

                <p>Toplam Kategori Sayısı</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.dgr2</h3>

                <p>Yazılım Kategorisine Ait Başlık Sayısı</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.dgr3</h3>

                <p>Adında A Hargi Geçen Yazar Sayısı</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.dgr4</h3>

                <p>En Fazla Başlığa Sahip Kategori Adı</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.dgr5</h3>

                <p>Kategori Durumu True ile False Olanlar Arasında ki Fark</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>

